.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card-header {
    background-color: #375a7f;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-control:focus {
    border-color: #375a7f;
    box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.25);
}

.btn-primary {
    margin-top: 20px;
    margin-bottom: 40px;
}

.form-label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.invalid-feedback {
    font-size: 80%;
}